@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 600;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  max-width: 100%;
}

code,
pre {
  background: #333;
  color: #fff;
  padding: 10px;
}

.hidden {
  visibility: hidden;
  height: 0;
}

/* Showcase  */

.showcase {
  height: 500px;
  position: relative;
  
}

.showcase-text {
  z-index: 100;
  animation: slideInFromLeft 1s ease-in;
}

.showcase-form {
  position: relative;
  top:60px;
  padding:40px;
  z-index: 100;

  animation: slideInFromRight 1s ease-in;
}

.showcase-form .form-control {
  margin:30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
  border:0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 1.2rem;
}

.showcase-form input:focus {
 outline: none;
}

/* .showcase::before,  */
.showcase::after {
  content: '';
  position: absolute;
  height: 150px;
  bottom: -70px;
  left: 0;
  right:0;
  background-color: var(--primary-color);
  transform: skewY(-3deg);
  z-index: -1;
}


/* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    
  }
  100% {
    transform: translateX(0%);
  }
}

/* Stats */
.stats {
  padding-top: 150px;
}

