@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.features-sub-head{
  justify-content: center;
  background-color:#f4f4f4 ;
  padding: 5rem;
}

.features-main{
  padding: 5rem;
}
body {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 600;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  max-width: 100%;
}

code,
pre {
  background: #333;
  color: #fff;
  padding: 10px;
}

.hidden {
  visibility: hidden;
  height: 0;
}

/* Showcase  */

.showcase {
  height: 550px;
  position: relative;
}

.showcase-text {
  z-index: 100;
  animation: slideInFromLeft 1s ease-in;
}

.showcase-form {
  position: relative;
  top:60px;
  padding:40px;
  z-index: 100;

  animation: slideInFromRight 1s ease-in;
}

.showcase-form .form-control {
  margin:30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
  border:0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 1.2rem;
}

.showcase-form input:focus {
 outline: none;
}

.navbar{
  background-color: var(--primary-color);
  color: #fff;
}

.docs-head{
  background-color: var(--primary-color);
  color: #fff;
}

/* .showcase::before,  */
.showcase::after {
  content: '';
  position: absolute;
  height: 150px;
  bottom: -70px;
  left: 0;
  right:0;
  background-color: var(--primary-color);
  transform: skewY(-3deg);
  z-index: -1;
}

@media (max-width: 868px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .showcase {
    height: auto;
  }

  .xl {
    font-size:3.5rem;
  }

  .showcase-text {
    text-align: center;
    animation: slideInFromTop 1s ease-in;
  }

  .showcase-form {
    justify-self: center;
    margin: auto;
    animation: slideInFromBottom 1s ease-in;
    position:static;
  }

  .bg-primary li {
    font-size: 1.5rem;
    padding: 2rem;
  }
}


.navbar {
  font-size: 1.5rem;
  flex-direction: column;
}

/* Stats */
.stats {
  padding-top: 250px;
  font-size: 1.45rem;
  text-align: center;
}

.stats .flex div{
  text-align: center;
  margin: 2rem 4rem;
  padding-left: 3rem;
  padding-right: 5rem;
  padding-top: 2rem;
}

.cli .image{
  align-items: left;
  justify-content: left;
  width: 66%;
}

.cli{
  padding: 4rem;
  height: 60vh;
}

.cli .cards{
  width: 34%;
}

.cli .cards .div{
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 2rem;
  
}

.cloud{
  background-color: var(--primary-color);
  color: #fff;
  align-items: center; 
  justify-content: space-evenly;
  flex: row;
  
}

.cloud div{
  text-align: center;
  width: 100%;
}

.languages .container {
  flex-wrap: wrap;
  align-items: stretch;
}

.languages .card {
  transition: all 0.2s ease-in;
}

.languages .card:hover {
  transform: translateY(-15px);
}

.languages .card img {
  max-width: 60px;
}

.languages h4 {
  font-weight: 400;
  text-align: center;
  margin-bottom: 1rem;
}



/* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    
  }
  100% {
    transform: translateX(0%);
  }
}